*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, rgba(205,255,216,1) 0%, rgba(148,185,255,1) 100%, rgba(0,0,0,1) 100%);
}
h1{margin: 40px;
    text-align: center;
}
.container{
    display: flex;
    margin: 60px;
    justify-content: center;
    align-items: center;
}
.container-child{
  padding: 0px 25px;
    width: 30%;
    
}
.box{
  margin: auto;
  width: 90%;
  height: 460px;
  border: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
    background: linear-gradient(90deg, rgba(133,103,251,1) 0%, rgba(133,103,251,1) 0%, rgba(133,103,251,1) 0%, rgba(133,103,251,1) 36%, rgba(99,204,234,1) 69%);
    box-shadow: rgba(0, 0, 0, 0.5) 9px 10.95px 9.6px;
}


    

form{
    color: #d9d8d8;
    margin-right: 20px;
}
.box label{
    line-height: 35px;

}
input{
    padding-right: 9px;
    width: 99%;
    height: 30px;
    border: 2px solid #d9d8d8;
    background: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 15px;

}
::placeholder {
    color: #d9d8d8;
  }
  button{
    margin: 4px 60px;
    font-weight: 700;
    color:  rgba(133,103,251,1);
    border-radius: 20px;
    border: 3px solid  rgba(133,103,251,1);
    padding: 8px 30px;
    background: linear-gradient(90deg, rgba(205,255,216,1) 0%, rgba(148,185,255,1) 100%);
    
  }
  button:hover {
    background-position: right center; 
    cursor: pointer;
  }
  hr{
    border-top: 1px solid rgb(72, 72, 72);
  }
  /* section2  */
  .section2{
    margin-top: 100px;
  }
  .section2 h1{
    margin-bottom: 30px;
    margin-top: 100px;
  }
  table {
    width: 100%;
    
  }
  
  th {
    height: 70px;
    font-size: 20px;
    
  }
  td {
    text-align: center;
   
    
  }
  th, td {
    border-bottom: 1px solid rgb(101, 101, 101);
    padding: 23px;
    
  }
  table .firstcol {
    font-weight: 800;
  }
  table td .btn{
    font-weight: 700;
    text-decoration: none;
    border-radius: 30px;
    border: 3px solid rgb(0, 115, 255);
    padding: 10px 21px;
    color: rgb(0, 115, 255);
  }
  table td .dlt-btn{
    color: rgb(255, 30, 0);
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid rgb(255, 30, 0);
    padding: 10px 25px;
  }
  .item a{
    margin: 34px auto;
    width: 10%;
    display: block;
    text-decoration: none;
    color: rgb(55, 55, 55);
    text-align: center;
    border: transparent;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(133,103,251,1) 0%, rgba(133,103,251,1) 0%, rgba(133,103,251,1) 0%, rgba(133,103,251,1) 36%, rgba(99,204,234,1) 69%);
    
    font-weight: 700;
    padding: 12px 23px;
  }
